<h2>About Wrona Nea</h2>

<p>We have all the best news about the fluffy, the furry, the prickly, the slimy, the flappy, the jumpy, the slithery, and more!</p>

<p>We are located near the border between Alberta and British Columbia, a place oft described as 'the most unusual excellence in the universe'.</p>

{{#link-to 'contact'}}Contact Us{{/link-to}}
<br>
{{#link-to 'index'}}Return Home{{/link-to}}
