<div class="content">
<h2>Welcome to Wrona Nea! || All the best news.</h2>
{{#each model.headlines as |headline|}}
  {{headline.title}}
{{/each}}

<ul>
{{#each model.articles as |news-article|}}
  {{news-tile news-article=news-article}}
{{/each}}
</ul>

{{#link-to 'contact'}}Contact Us{{/link-to}}
<br>
{{#link-to 'about'}}About Us{{/link-to}}
</div>
